*{
    margin: 25px;
}
table{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18px;
}
#voltar1{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 10px;
    margin: 0px;
    text-align: right;
}
#impult1{
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 15px;
  margin: 0px;
}
#enviar1{
  text-align: center;
}
hr{
  color: #000;
background: fixed, black;

}
select{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 15px;
    margin: 0px;
}
input{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 15px;
    margin: 1px;
}
button{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
}
#home1{
  text-align: center;
}
option{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 15px;
}
body {
    background-color: #00845c;
  }
  h1 {
    color: rgb(8, 8, 8);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 50px;
    margin: 1px;
    text-align: center;
  }
  h2{
    color: rgb(8, 8, 8);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 30px;

  }
  h3{
    color: rgb(8, 8, 8);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
  
  }
  h4{
    color: rgb(8, 8, 8);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18px;
  }
  p {
    color: rgb(8, 8, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 3px;
  }
  #inpult2{
    text-align: center;
  }
  
