@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 25px;
}
table{
   font-family: "Host Grotesk", sans-serif;
    font-size: 18px;
}
#voltar1{
   font-family: "Host Grotesk", sans-serif;
    font-size: 10px;
    margin: 0px;
    text-align: right;
}
#impult1{
 font-family: "Host Grotesk", sans-serif;
  font-size: 15px;
  margin: 0px;
}
#enviar1{
  text-align: center;
}
hr{
  color: #000;
background: fixed, black;

}
select{
   font-family: "Host Grotesk", sans-serif;
    font-size: 15px;
    margin: 0px;
}
input{
   font-family: "Host Grotesk", sans-serif;
    font-size: 15px;
    margin: 1px;
}
button{
    font-family: "Host Grotesk", sans-serif;
    font-size: 20px;
}
#div-adm{
  text-align: center;
}
option{
    font-family: "Host Grotesk", sans-serif;
    font-size: 15px;
}
body {
    background-color: #00845c;
  }
  h1 {
    color: rgb(8, 8, 8);
    font-family: "Host Grotesk", sans-serif;
    font-size: 50px;
    margin: 1px;
    text-align: center;
  }
  h2{
    color: rgb(8, 8, 8);
    font-family: "Host Grotesk", sans-serif;
    font-size: 30px;

  }
  h3{
    color: rgb(8, 8, 8);
    font-family: "Host Grotesk", sans-serif;
    font-size: 20px;
  
  }
  h4{
    color: rgb(8, 8, 8);
    font-family: "Host Grotesk", sans-serif;
    font-size: 18px;
  }
  p {
    color: rgb(8, 8, 8);
    font-family: "Host Grotesk", sans-serif;
    font-size: 20px;
    margin: 3px;
  }
  #inpult2{
    text-align: center;
  }
  
